<div class="announcement-bar">
  <div class="announcement-bar__inner">
    <p class="announcement-bar__text">
      {{ section.settings.text }}
      &nbsp; | &nbsp;
      <a href="{{ section.settings.link }}" class="announcement-bar__link">
        {{ section.settings.link_label }}
      </a>
      &nbsp; | &nbsp;
      {{ section.settings.subtext }}
      &nbsp; | &nbsp;
      <span class="announcement-bar__details">
        {{ section.settings.details_label }}
      </span>
    </p>
  </div>
</div>

{% schema %}
{
  "name": "ANNOUNCEMENT BAR",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Main Text",
      "default": "MOTHER'S DAY SALE - 20% OFF WOMEN'S SHOES + FREE SHIPPING"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "Link Label",
      "default": "SHOP NOW!"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Sub Text",
      "default": "ENDS 5/13/26"
    },
    {
      "type": "text",
      "id": "details_label",
      "label": "Details Label",
      "default": "DETAILS"
    }
  ]
}
{% endschema %}